 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }

.s-layout__content {
    width: 100%;
 }
  /* Mobile First */
  @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }
}
 
@media (min-width: 68em) {
    /* .s-layout__content {
       margin-left: 15em;
    } */
}